﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
#recommend{
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	width: 400px;
	background-color:#e6ecff;
	border: 3px double #002499;
	margin-left: 30px;
	margin-top: 30px;
	
}
span{
	font-size: 40px;
	font-weight: bold;
	margin-left: 100px;
	
}
#images{
	width: 200px;
	height: 200px;
	line-height:200px;
	text-align: center;
	margin-left: 100px;
}
img{
	width: 100%;
	max-height: 200px;
}
p{
	text-align: center;
}
#back{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	border-radius: 5px;
	width: 100px;
	color: white;
	border: 2px inset #002499;
	margin-left: 350px;
	margin-top: 20px;
}