@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
#new_music{
	font-family: 'Nanum Pen Script';
	font-size: 20px;
}/*최신 차트*/
#music{
	float: left;
	margin-left: 40px;
	margin-top:20px;
}
#images{
	width: 130px;
	height: 100px;
	line-height:100px;
	text-align: center;
}
img{
	width: 100%;
	max-width: 100px;
}
#play{
	background-color:#002499;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius: 5px;
	width: 50px;
	color: white;
	border: 2px inset #002499;
}
#user_log_in{
	font-family: 'Nanum Pen Script';
	margin-left: 200px;
	margin-top: 40px;
	border: 3px solid #002499;
	width: 300px;
	height: 150px;
	border-radius: 5px;
}/*로그인 창*/
#user{
	float: left;
}
#recommend_span{
	width: 200px;
	font-family: 'Nanum Pen Script';
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color: black;
}
#age_recommend{
	font-family: 'Nanum Pen Script';
	text-align:center;
	font-size: 20px;
	color: black;
	font-weight: normal;
}
#recommend_div{
	width: 300px;
	margin-top: 40px;
	height: 150px;
	text-align: center;
	vertical-align: center;
	margin-left: 200px;
	font-family: 'Nanum Pen Script';
	border-radius: 5px;
	border: 3px solid #002499;
}
#user_information{
	font-family: 'Nanum Pen Script';
	margin-left: 200px;
	margin-top: 40px;
	border: 4px double #002499;
	width: 300px;
	height: 250px;
	border-radius: 5px;
	font-size: 25px;
}
#buy_point,#log_out{
	background-color:#002499;
	border-radius: 5px;
	color: white;
	font-size: 25px;
	border: 2px outset #002499;
}
#buttons{
	margin-left: 80px;
}
#my_info{
	color: black;
	margin-left: 40px;
	font-stretch: bold;
}
#id{
	margin-left: 20px;
	font-size: 25px;
}
#point{
	margin-left: 20px;
	font-size: 25px;
}
p{
	font-family: 'Nanum Pen Script';
	font-size: 20px;
}
button, input[type="submit"]{
	font-family: 'Nanum Pen Script';
	border: none;
	font-size: 25px;
	border-radius: 5px;
	background-color: white;
}/*button*/
#input{
	float: left;
}
form{
	padding-left: 20px;
	padding-top: 20px;
}
#sign_up{
	margin-left: 200px;
	margin-top: 20px;
}
input[type="text"], input[type="password"]{
	border-radius: 5px;
	background-color: #d9d9d9;
	width: 200px;
	height: 20px;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
}
#music_name{
	margin-left: 20px;
	width: 200px;
}
input[type="password"]{
	margin-top: 10px;
}
input[type="submit"]{
	width: 50px;
	height: 60px;
}
#submit{
	float: left;
}
table{
	width: 600px;
	margin: 20px;
	border: 3px dashed #002499;
	border-radius: 5px;
	font-size:20px;
	vertical-align:center;
	text-align: center;
}/*최신음악과 실시간 차트 랭킹 table*/
header{
	width: 500px;
	margin: 0 auto;
}
#on_line, #sign_up{
	background-color: #002499;
	color: white;
}
span{
	width: 200px;
	font-family: 'Nanum Pen Script';
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color:#002499;
}