﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
span{
	font-family: 'Nanum Pen Script';
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
	color: #002499;
	width: 200px;
}
div{
	width: 500px;
	margin: 0 auto;
}
#back{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	border-radius: 5px;
	width: 130px;
	color: white;
	border: 2px inset #002499;
	margin-left: 800px;
}
#play{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius: 5px;
	width: 50px;
	color: white;
	border: 2px inset #002499;
}
table{
	width: 600px;
	margin: 20px auto;
	border: 3px dashed #002499;
	border-radius: 5px;
	font-size:20px;
	vertical-align:center;
	text-align: center;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
}
#images{
	width: 130px;
	height: 100px;
	line-height:100px;
	text-align: center;
}
img{
	width: 100%;
	max-width: 100px;
}
