﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
div{
	width: 400px;
	margin-top: 30px;
	margin-left: 30px;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	background-color: #e6ecff;
	border: 3px dotted #002499;
	border-radius: 10px;
}
span{
	text-align: center;
	width: 300px;
	font-size: 30px;
	margin-left: 100px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
input[type="radio"]{
	font-size: 30px;
	margin-left: 40px;
}
input[type="submit"]{
	width: 100px;
	background-color: #002499;
	color: white;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius:5px;
	border: 2px inset #002499;
}#buy{
	margin-left: 260px;
}
input[type="text"]{
	border-radius: 5px;
	background-color: #d9d9d9;
	width: 200px;
	height: 30px;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	margin-left: 50px;
	margin-right: 10px;
}