﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
table{
	border:3px dashed #002499;
	margin-left: 20px;
	margin-top: 20px;
	width: 600px;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius: 10px;
}
#singer{
	width: 50px;
}
tr:first-child{
	font-size: 23px;
	height: 30px;
}
#play{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius: 5px;
	width: 50px;
	color: white;
	border: 2px inset #002499;
}
#back{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	border-radius: 5px;
	width: 130px;
	color: white;
	border: 2px inset #002499;
	margin-left: 420px;
	margin-top: 20px;
}
td{
	margin-left: 5px;
}
img{
	width: 100px;
}
input[type="submit"]{
	border-radius: 5px;
	width: 100px;
	color: white;
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border: 2px inset #002499;
}