﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
#main{
	font-family: 'Nanum Pen Script';
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	color:#002499;
	vertical-align: baseline;
    float: none;
    width: 300px;
    height: 60px;
    padding: 0;
}
header{
	position: relative;
    width: 300px;
    margin: 10px auto;
    text-align: center;
}/*header*/
form{
	margin: 0 auto;
	border: 1px solid #f8fbff;
	border-radius: 5px;
	background-color: white;
	font-family: 'Nanum Pen Script';
	width: 300px;
	height: 270px;
}/*회원가입 창*/
p{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
#id, #password{
	font-size: 20px;
	margin-left: 10px;
	margin-top: 10px;
}
input[type="text"], input[type="password"]{
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius: 5px;
	width: 200px;
	height: 20px;
	background-color: #d9d9d9;
}
input[type="password"]{
	margin-top: 10px;
}
button, input[type="submit"]{
	font-family: 'Nanum Pen Script';
	border: none;
	font-size: 25px;
	border-radius: 5px;
	background-color: #002499;
	color: white;
}/*button*/
input[type="submit"]{
	margin-left: 180px;
	width: 100px;
	height: 30px;
	margin-top: 20px;
}
button{
	margin-left: 200px;
	margin-top: 20px;
	width: 100px;
	height: 30px;
}
#body{
	background-color: #f8fbff;
	width:350px;
	height: 400px;
	margin-left: 20px;
	margin-top: 20px;
}