﻿@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript);
table{
	border: 6px double #002499;
	margin-left: 30px;
	margin-top: 30px;
	width: 400px;
	background-color:#e6ecff;
	font-family: 'Nanum Pen Script';
	font-size: 20px;
	border-radius: 10px;
	color: black;
	float: left;
}
#delete_list{
	display: none;
}
#song_image{
	width: 100%;
	height: 200px;
	line-height:200px;
	text-align: center;
}
img{
	width: 100%;
	max-width: 200px;
}
#back2{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	border-radius: 5px;
	width: 80px;
	height: 40px;
	color: white;
	border: 2px inset #002499;
	margin-left: 500px;
}
button{
	width: 60px;
	height: 30px;
	text-align: center;
	background-color: #002499;
	border: 2px outset #002499;
	margin-top: 10px;
	border-radius: 5px;
	color: white;
}
#list, #lists{
		font-size: 40px;
		font-weight: bold;
		text-align: center;
}
#delete_button,#delete_it{
	margin-left:400px;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	width: 100px;
	height: 50px;
	margin-bottom: 10px;
	text-align: center;
}
#list_music, #delete_list{
	float: left;
	margin-left: 40px;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	border: 3px dashed #002499;
	margin-top: 30px;
	width: 600px;
	text-align: center;
}
#back{
	background-color: #002499;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	border-radius: 5px;
	width: 130px;
	color: white;
	border: 2px inset #007acc;
	margin-left: 20px;
}
#sample{
	font-family: 'Nanum Pen Script';
	font-size: 30px;
	font-weight: bold;
	margin-left:150px;
}
#list_buttons{
	border: none;
	background-color: white;
	font-family: 'Nanum Pen Script';
	font-size: 25px;
	color: black;
	width: 500px;
	text-align: center;
	height: 30px;
}
input[type="radio"].value{
	color: black;
	font-size:25px;
	width: 500px;
	text-align:center;
	height:30px;
}
#myBar{
	width: 100%;
	background-color: #ddd;
	height: 30px;
}
#song_name{
	font-size: 30px;
	font-weight: bold;
	text-align: center
}
#nowtimespan, #fulltimespan{
	width: 20px;
	font-family: 'Nanum Pen Script';
	font-size: 20px;	
	text-align: center;
	padding-left: 20px;
	height:30px;
}

#progressspan{
	width: 0%;
	height: 100%;
	background-color: #002499;
	vertical-align: center;
}